{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Founds application{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">  

</head>
<body>
    <main>
    <!-- header code -->
    {% block content %}
    {% endblock %}
    <!-- footer code -->
    </main>
    <footer class="footer text-center" style="font-size: 11px;">
      <span class="text-muted">@ Desarrollado por Karina Jimenes.</span>
    </footer>
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>