{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	{% include "logout.html" %}
	<div class="row">
		<div class="col">
			<p><strong>Name </strong>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
  			<hr class="m-1">
  			<p><strong>Amount Needed: </strong> $ {{ user.borrower.amount_needed}} </p>
  			<hr class="m-1">
  			<p><strong>Amount Raised: </strong>$ {{ user.borrower.amount_raised}}</p>
  			<hr class="m-1">
  			<div class="col py-3">
  				<h6>List of people who lent you money</h6>
  			</div>
                {% if messages %}
                    {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Ammount Lent</th>
						</tr>
					</thead>
					<tbody>
                        {% for loan in lst_lender_loans %}
						<tr>
							<td>{{ loan.lender_user.user.first_name }} {{ loan.lender_user.user.last_name }}</td>
							<td>{{ loan.lender_user.user.email }} </td>
							<td>$ {{ loan.amount_lend }}</td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}