{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	{% include "logout.html" %}
	<div class="row">
		<div class="col">
			<p><strong>Name: </strong>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
  			<hr class="m-1">
  			<p><strong>Amount Balance: </strong> $ {{ user.lender.money }}</p>
  			<hr class="m-1">
  			<div class="col py-3">
  				<h6>List of people who are in need of help</h6>
  			</div>
                {% if messages %}
                    {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Name</th>
							<th>Money needed for</th>
							<th>Description</th>
							<th>Amount needed</th>
							<th>Amount raised</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for borrower in lst_borrowers %}
						<tr>
							<td>{{ borrower.user.first_name }} {{ borrower.user.last_name }}</td>
							<td>{{ borrower.need_money_for }}</td>
							<td>{{ borrower.description }}</td>
							<td>$ {{ borrower.amount_needed }}</td>
							<td>$ {{ borrower.amount_raised }}</td>
							<td>
								<form  method="POST" class="form-inline">
									{% csrf_token %}
									<input type="hidden" name="user_lender" value="{{ user.lender.id }}">
									<input type="hidden" name="user_borrower" value="{{ borrower.id }}">
									<div class="form-group">
										<input type="number" class="form-control form-control-sm" name="ammount">
									</div>
    								<button class="btn btn-sm btn-info " aria-label="sign in button" type="submit">Lend</button>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col py-3">
				<h6>List of people you lent money to</h6>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Name</th>
							<th>Money needed for</th>
							<th>Description</th>
							<th>Amount needed</th>
							<th>Amount raised</th>
							<th>Amount lend</th>
						</tr>
					</thead>
					<tbody>
						{% for loan in lst_lender_loans %}
						<tr>
							<td>{{ loan.borrower_user.user.first_name }} {{ loan.borrower_user.user.last_name }}</td>
							<td>{{ loan.borrower_user.need_money_for }}</td>
							<td>{{ loan.borrower_user.description }}</td>
							<td>$ {{ loan.borrower_user.amount_needed }}</td>
							<td>$ {{ loan.borrower_user.amount_raised }}</td>
							<td>$ {{ loan.amount_lend }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}