{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row">
    	<div class="col-md-6">
            <div class="py-3">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>
    		
    		<form method="POST" class="p-4">
    			{% csrf_token %}
    			<div class="form-group row">
    				{{ form.email.label_tag }}
                    <div class="col-sm-10">
    				{{ form.email }}
                    </div>
    			</div>
    			<div class="form-group row">
    				{{ form.password.label_tag }}
                    <div class="col-sm-10">
    				{{ form.password }}
                    </div>
    			</div>
    			<div class="row pt-4">
    				<div class="col">
    					<a class="nav-link"  href="{% url 'founds:register' %}">Click here to register?</a>
    				</div>
    				<div class="col">
    					<button class="btn btn-sm btn-block btn-info " aria-label="sign in button" type="submit">Login</button>
    				</div>
    			</div>
    			
                {% if messages %}
                    {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
    		</form> 
    	</div>
	</div>
</div>
{% endblock %}