{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
            <div class="py-3">
                <h2 class="h3 mb-3 font-weight-normal">Lender</h2>
            </div>
			<form method="POST" class="p-2" id="lender_form">
                {% csrf_token %}
                <div class="form-group row">
                    {{ lender_form.first_name.label_tag }}
                    <div class="col-sm-8">
                    {{ lender_form.first_name }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ lender_form.last_name.label_tag }}
                    <div class="col-sm-8">
                    {{ lender_form.last_name }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ lender_form.email.label_tag }}
                    <div class="col-sm-8">
                    {{ lender_form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ lender_form.password.label_tag }}
                    <div class="col-sm-8">
                    {{ lender_form.password }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ lender_form.money.label_tag }}
                    <div class="col-sm-8">
                    {{ lender_form.money }}
                    </div>
                </div>
    			<div class="row pt-4">
                    <input type="hidden" name="form_type" value="lender_form">
    				<div class="col">
    					<a class="nav-link" href="{% url 'founds:user_login' %}" >Already a member?</a>
    				</div>
    				<div class="col">
    					<button class="btn btn-sm btn-block btn-info " aria-label="sign in button" type="submit">Register</button>
    				</div>
    			</div>
    		</form>
		</div>
		<div class="col">
            <div class="py-3">
                <h2 class="h3 mb-3 font-weight-normal">Borrower</h2>
            </div>
			<form method="POST" class="p-2" id="borrower_form">
                {% csrf_token %}
                <div class="form-group row">
                    {{ borrower_form.bfirst_name.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.bfirst_name }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ borrower_form.blast_name.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.blast_name }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ borrower_form.bemail.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.bemail }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ borrower_form.bpassword.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.bpassword }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ borrower_form.bneed_money_for.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.bneed_money_for }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ borrower_form.bdescription.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.bdescription }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ borrower_form.bamount_needed.label_tag }}
                    <div class="col-sm-8">
                    {{ borrower_form.bamount_needed }}
                    </div>
                </div>
    			<div class="row pt-4">
                    <input type="hidden" name="form_type" value="borrower_form">
    				<div class="col">
    					<a class="nav-link" href="{% url 'founds:user_login' %}">Already a member?</a>
    				</div>
    				<div class="col">
    					<button class="btn btn-sm btn-block btn-info " aria-label="sign in button" type="submit">Register</button>
    				</div>
    			</div>
    		
    		</form>
		</div>
	</div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}